  <link href="C:\Users\notba\source\repos\angularApplication\SuperHero.UI\src\css\bootstrap.min.css" rel="stylesheet">

  <mat-tab-group>
    <mat-tab label="О компании">
      <h1>О компании</h1>
      <p>Тут можно добавить информацию о вашей компании.</p>
      
    </mat-tab>
    <mat-tab label="Сотрудники">
      <button (click)="initNewHero()">Create new Hero</button>
      <table>
        <thead>
          <th>Name</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Place</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes">
            <th>{{hero.name}}</th>
            <th>{{hero.firstName}}</th>
            <th>{{hero.lastName}}</th>
            <th>{{hero.place}}</th>
            <th><button (click)="editHero(hero)">Edit</button></th>
          </tr>
        </tbody>
      </table>
  
      <app-hero-edit [hero]="heroEdit" (heroesUpdated)="updateHeroList($event)"></app-hero-edit>
    </mat-tab>
  </mat-tab-group>
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
  
  <script src="js/bootstrap.bundle.min.js"></script>
    